*.class
*.log

# gradle specific
.settings
.gradle


# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/
/build/


# eclipse specific
.cache-main
.project
.classpath


# application specific
/checkpoint-consume/
/checkpoint-produce/
/resources/output/
